{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<script>
  function openGate() {
    fetch('http://www.example.com', {
        method: 'GET',
    })
    .then(response => {
        if (response.ok) {
            console.log('Gate opened successfully');
        } else {
            console.error('Failed to open the gate');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
  }
</script>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <button class="btn btn-primary" onclick="openGate()">Open Gate</button>
</div>
{% endblock content %}